/* line 10, ../sass/theme_basis.scss */
body {
  background: url("../images/feroe_background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-size: 16px;
}
@media (max-width: 768px) {
  /* line 10, ../sass/theme_basis.scss */
  body {
    background-size: 250%;
  }
}

/* line 21, ../sass/theme_basis.scss */
.navbar-inverse {
  background-color: rgba(49, 49, 49, 0.95) !important;
}

/* line 25, ../sass/theme_basis.scss */
.sticky-menu-container {
  background-color: rgba(49, 49, 49, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}
/* line 33, ../sass/theme_basis.scss */
.sticky-menu-container nav.menu ul {
  display: inline-block;
  list-style-type: none;
}
/* line 36, ../sass/theme_basis.scss */
.sticky-menu-container nav.menu ul li {
  display: inline-block;
  padding: 20px 10px 0px 10px;
}
/* line 39, ../sass/theme_basis.scss */
.sticky-menu-container nav.menu ul li a {
  color: #fff;
  font-size: 1em;
}

/* line 48, ../sass/theme_basis.scss */
section {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 52, ../sass/theme_basis.scss */
section .container {
  max-width: 930px;
}
/* line 54, ../sass/theme_basis.scss */
section .container .section-headline-container {
  text-align: center;
}
/* line 56, ../sass/theme_basis.scss */
section .container .section-headline-container h1.section-headline {
  font-size: 40px;
}
/* line 59, ../sass/theme_basis.scss */
section .container .section-headline-container .underline {
  width: 24px;
  height: 2px;
  border: 0;
  background: #B8A75F;
  margin-top: 0;
}

/* line 70, ../sass/theme_basis.scss */
section#intro {
  text-align: center;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 74, ../sass/theme_basis.scss */
section#intro .logo {
  margin: 0 auto;
  max-width: 340px;
}
/* line 77, ../sass/theme_basis.scss */
section#intro .logo img {
  width: 100%;
  border-radius: 50%;
}
/* line 82, ../sass/theme_basis.scss */
section#intro h1 {
  margin: 20px 0px 20px 0px;
}
/* line 85, ../sass/theme_basis.scss */
section#intro h2 {
  margin: 10px 0px 10px 0px;
}

/* line 91, ../sass/theme_basis.scss */
section#personal-info .personal-info-title {
  text-align: right;
  font-weight: bold;
}
/* line 95, ../sass/theme_basis.scss */
section#personal-info ul {
  padding: 0px;
  margin: 0px;
}
/* line 99, ../sass/theme_basis.scss */
section#personal-info li {
  list-style: none;
}
/* line 102, ../sass/theme_basis.scss */
section#personal-info a {
  color: #333;
}

/* line 108, ../sass/theme_basis.scss */
section#experience {
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 110, ../sass/theme_basis.scss */
section#experience .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
/* line 116, ../sass/theme_basis.scss */
section#experience .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #B8A75F;
  left: 50%;
  margin-left: -1.5px;
}
/* line 127, ../sass/theme_basis.scss */
section#experience .timeline > li {
  margin-bottom: 20px;
  position: relative;
}
/* line 132, ../sass/theme_basis.scss */
section#experience .timeline > li:before,
section#experience .timeline > li:after {
  content: " ";
  display: table;
}
/* line 138, ../sass/theme_basis.scss */
section#experience .timeline > li:after {
  clear: both;
}
/* line 142, ../sass/theme_basis.scss */
section#experience .timeline > li:before,
section#experience .timeline > li:after {
  content: " ";
  display: table;
}
/* line 148, ../sass/theme_basis.scss */
section#experience .timeline > li:after {
  clear: both;
}
/* line 152, ../sass/theme_basis.scss */
section#experience .timeline > li > .timeline-panel {
  background-color: #fff;
  width: 45%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
/* line 164, ../sass/theme_basis.scss */
section#experience .timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
/* line 176, ../sass/theme_basis.scss */
section#experience .timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
/* line 188, ../sass/theme_basis.scss */
section#experience .timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #B8A75F;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
/* line 207, ../sass/theme_basis.scss */
section#experience .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
/* line 211, ../sass/theme_basis.scss */
section#experience .timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
/* line 218, ../sass/theme_basis.scss */
section#experience .timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/* line 225, ../sass/theme_basis.scss */
section#experience .timeline-badge.primary {
  background-color: #2e6da4 !important;
}
/* line 229, ../sass/theme_basis.scss */
section#experience .timeline-badge.success {
  background-color: #3f903f !important;
}
/* line 233, ../sass/theme_basis.scss */
section#experience .timeline-badge.warning {
  background-color: #f0ad4e !important;
}
/* line 237, ../sass/theme_basis.scss */
section#experience .timeline-badge.danger {
  background-color: #d9534f !important;
}
/* line 241, ../sass/theme_basis.scss */
section#experience .timeline-badge.info {
  background-color: #5bc0de !important;
}
/* line 245, ../sass/theme_basis.scss */
section#experience .timeline-title {
  margin-top: 0;
  color: inherit;
}
/* line 250, ../sass/theme_basis.scss */
section#experience .timeline-body > p,
section#experience .timeline-body > ul {
  margin-bottom: 0;
}
/* line 255, ../sass/theme_basis.scss */
section#experience .timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  /* line 260, ../sass/theme_basis.scss */
  section#experience ul.timeline:before {
    left: 40px;
  }
  /* line 264, ../sass/theme_basis.scss */
  section#experience ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  /* line 270, ../sass/theme_basis.scss */
  section#experience ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  /* line 276, ../sass/theme_basis.scss */
  section#experience ul.timeline > li > .timeline-panel {
    float: right;
  }
  /* line 280, ../sass/theme_basis.scss */
  section#experience ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  /* line 287, ../sass/theme_basis.scss */
  section#experience ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

/* line 297, ../sass/theme_basis.scss */
section#skills .progress {
  height: 30px;
  margin: 10px 0 15px 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}
/* line 303, ../sass/theme_basis.scss */
section#skills .progress .progress-bar {
  background-color: #B8A75F;
  color: #fff;
  font-weight: bold;
  height: 30px;
  color: #f0f0f0;
  font-size: 0.7em;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  text-align: right;
}
/* line 316, ../sass/theme_basis.scss */
section#skills .skills-item {
  margin-bottom: 60px;
}
/* line 318, ../sass/theme_basis.scss */
section#skills .skills-item .skills-icon {
  background-color: #B8A75F;
  color: #fff;
  width: 68px;
  height: 68px;
  float: left;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.7);
  background: #B8A75F;
  border-radius: 5px;
}
/* line 328, ../sass/theme_basis.scss */
section#skills .skills-item .skills-icon i {
  margin: 16px 0 0 8px;
}
/* line 332, ../sass/theme_basis.scss */
section#skills .skills-item .skills-text {
  margin-left: 80px;
  line-height: 1.3em;
}
/* line 335, ../sass/theme_basis.scss */
section#skills .skills-item .skills-text h4 {
  font-size: 1.3em;
}

/* line 342, ../sass/theme_basis.scss */
section#contact {
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 344, ../sass/theme_basis.scss */
section#contact .contact-inner-container {
  text-align: center;
}
/* line 346, ../sass/theme_basis.scss */
section#contact .contact-inner-container .footer-icon {
  font-size: 3rem;
  line-height: 7rem;
  height: 7rem;
  width: 7rem;
  background: #B8A75F;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin: 0 30px 0 30px;
  transition: all .3s ease-in-out;
}
/* line 358, ../sass/theme_basis.scss */
section#contact .contact-inner-container .footer-icon:hover {
  background-color: #887B44;
}
/* line 362, ../sass/theme_basis.scss */
section#contact p {
  text-align: center;
  padding-top: 50px;
}
